body {
  background: linear-gradient(to bottom, #c2d7e4, #e0e9f1); /* Gradiente azul grisáceo */
 
  /* ...otros estilos... */
}
.videos-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Adjust alignment as needed */
  margin: 20px; /* Add margin for spacing */
}

h3 {
  margin-top: 20px;
}

/* Estilo del contenido principal */

.main-content {
  flex-grow: 1;
  display: relative;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-right: 260px; /* Mantén este margen si es necesario */
  height: 103vh; /* Altura fija del .main-content */
  width: 150vh;
  overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
   /* overflow: hidden;*/
}



.ReactPlayer {
  width: 100% !important;
  height: 100%;
  position: relative;
  margin-left: 1500px;
  margin-bottom: 20px;
  margin-right: 500px;
}

.video-header {
  margin-bottom: -5px; /* Espacio entre el título y el contenido */
}


.video-content {
  max-height: 300px; /* Altura máxima que deseas antes de que aparezca la barra de desplazamiento */
  overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
  border: 1px solid #ccc; /* Agrega un borde alrededor del contenido */
  padding: 10px; /* Añade espacio alrededor del contenido */
  width: 100%; /* Haz que ocupe todo el ancho disponible */
  box-sizing: border-box; /* Incluye el borde en el cálculo del ancho */
  margin-top: 1px;
 /* overflow: hidden;*/
}



.SideBarVideos {
  background: linear-gradient(to bottom, #c2d7e4, #e0e9f1); /* Gradiente azul grisáceo */
  width: 253px;
  border-left: 1px solid #ccc;
  padding: 16px;
  overflow-y: auto;
  background-color: #fff;
  position: absolute;
  top: 40px;
  bottom: 0;
  right: 0;
   /* overflow: hidden;*/

 
}


.SideBarVideos button {
  width: 100%;
  padding: 10px;
  background-color: black;
  border: none;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  text-align: left;
  transition: background-color 0.3s;
  color:aliceblue
}

.SideBarVideos button:hover {
  background-color: #3b2c2c;
}

.video-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.video-item:hover {
  background-color: #f5f5f5;
}

.video-thumbnail {
  width: 60px;
  height: 35px;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
  border: 1px solid rgb(46, 59, 71);
  flex-shrink: 0;
}

.video-item span {
  flex-grow: 1;
}

.video-item > span:last-child {
  margin-left: auto;
  color: rgb(46, 59, 71);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  width: 90%;
}

.add-video-button {
  width: 50px;
  padding: 2px 5px;
  background-color: #6FA1D2 !important; /* Azul claro con !important */
  border: none;
  cursor: pointer;
  text-align: right;
  transition: background-color 0.3s;
  color: #fff;
  font-size: 12px;
  margin: 0;
  display: inline-block;
}

.add-video-button:hover {
  background-color: #4A80B9 !important; /* Azul más oscuro al pasar el mouse con !important */
}


.add-video-button::before {
  content: "+";
  margin-right: 5px;
}


.sequence-box {
  display: inline-block;
  padding: 5px 10px;
  background-color: #645757;
  color: #fff;
  border-radius: 5px;
  margin-right: 10px;
}

.add-section-button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
  position: sticky;
  bottom: 16px;
}

.add-section-button:hover {
  background-color: #141d16;
}

.add-section-button::after {
  content: " Añadir Nueva Sección";
  margin-right: 5px;
}


