body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;


}

/* Estilos generales para la navbar */
.navbar {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center; 
} 
 
.navbar a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}

/* Header */
.header {
  background-color: #222;
  color: white;
  padding: 2rem;
  text-align: center;
}

/* Body */
.body {
  padding: 2rem;
  text-align: center;
}

/* Footer */
.footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;

}

/* Form styles */ 
.form {
  background-color: #fff;
  padding: 2rem;
  margin: 2rem auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-input {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-button {
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1rem;
}

.form-button:hover {
  background-color: #333;
}

