.dashboard-container {

  width: 100%;
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 500px;
  padding: 1px -5%; /* Puedes ajustar este valor para reducir aún más la altura */
  height: 40px; /* Establecer una altura específica */
  position: fixed; /* Agregar posición relativa para que z-index funcione */
    z-index: 1; /* Asegurar que el view-selector esté en primer plano */

}

.view-selector,
.logout-button {
  position: relative; /* Agregar posición relativa para que z-index funcione */
  border-radius: 10px;

}

.h1-container {
  position: absolute;
  top: -5%;  /* Mueve el elemento 10% hacia arriba respecto a su posición original */
  left: 30%;
  margin: 10px;
}

.logout-button {
  background: #e07a2f;    
  color: white;
  margin-left: 1px;
  border: none;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header {
    margin-top: 85%;
  }

 

  .h1-container {
display: none;
  }
}